<!-- Material form login -->
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Sign in</strong>
    </h5>
  </mdb-card-header>


  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" [formGroup]="form" (ngSubmit)="login()">

      <!-- Email -->
      <div class="md-form">
        <input type="text" id="materialLoginFormEmail" class="form-control" formControlName="username" mdbInput>
        <label for="materialLoginFormEmail">Username</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" class="form-control" formControlName="password" mdbInput>
        <label for="materialLoginFormPassword">Password</label>
      </div>

      <!-- Sign in button -->
      <button
        type="submit"
        mdbBtn color="info"
        outline="true"
        block="true"
        class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit">Sign in
      </button>

      <h4 class="text-danger" *ngIf="error">{{error}}</h4>

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form login -->
